@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Input your words below:</h1>

<form asp-action="Answer" method="post">
    <input type="text" name="answer"/>
    <button>Submit</button>
</form>